<h1>Listado de Productos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>${{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a href="/realtimeproducts" class="btn btn-primary">Ver productos en tiempo real</a>